---
http_interactions:
- request:
    method: post
    uri: http://api.lbs.yandex.net/geolocation?json=%7B%22common%22:%7B%22version%22:%221.0%22,%22api_key%22:%22AM3hulcBAAAALCIoUgMA1tGl3THC8zRHnxqs4uUbe3Na24oAAAAAAAAAAADAnR_r59oxhQkzgT2lpjSLfcsVVg==%22%7D,%22ip%22:%7B%22address_v4%22:%22178.247.233.3%22%7D%7D
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Yarequestid:
      - de616b6b-3cab-4f53-a771-40676ccd1ebf
    body:
      encoding: UTF-8
      string: |
        {
           "position" : {
              "altitude" : 0.0,
              "altitude_precision" : 30.0,
              "latitude" : 41.00892639160156,
              "longitude" : 28.96711158752441,
              "precision" : 100000.0,
              "type" : "ip"
           }
        }
  recorded_at: Sun, 22 Jan 2017 19:29:08 GMT
recorded_with: VCR 2.9.3
