---
http_interactions:
- request:
    method: post
    uri: http://api.lbs.yandex.net/geolocation?json=%7B%22common%22:%7B%22version%22:%221.0%22,%22api_key%22:%22AKAohVgBAAAAUK3sQwICzS7H_b7e0Y6yksDwz7S9894dxW8AAAAAAAAAAABe36EUWpPIX-RRHHm8N3-w8pGQRw==%22%7D,%22wifi_networks%22:%5B%7B%22mac%22:%22ec:43:f6:d1:a2:1e%22%7D%5D,%22gsm_cells%22:%5B%7B%22countrycode%22:250,%22operatorid%22:99,%22cellid%22:12082,%22lac%22:25254%7D%5D,%22ip%22:%7B%22address_v4%22:%22178.247.233.3%22%7D%7D
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Yarequestid:
      - fb4d02b2-bd4b-4f5f-bbab-cd0a9ba1b764
    body:
      encoding: UTF-8
      string: |
        {
           "position" : {
              "altitude" : 0.0,
              "altitude_precision" : 30.0,
              "latitude" : 56.87141036987305,
              "longitude" : 60.61107635498047,
              "precision" : 1066.041137695312,
              "type" : "gsm"
           }
        }
  recorded_at: Sun, 22 Jan 2017 22:02:50 GMT
recorded_with: VCR 2.9.3
